.header__lang-link {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 28px;
    align-self: center;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 425px) {
    .header__lang-link {
        width: 22px;
        height: 20px;
    }
}