@media screen and (min-width: 1280px) {    
    .place__title {
        line-height: 76px;
        font-size: 72px;
        font-weight: 900;
        grid-row: 1;
        grid-column: 1/2;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .place__title {
        line-height: 76px;
        font-size: 72px;
        font-weight: 900;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .place__title {
        line-height: 76px;
        font-size: 72px;
        font-weight: 900;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {    
    .place__title {
        line-height: 46px;
        font-size: 42px;
        font-weight: 900;
    }
}


@media screen and (max-width: 425px) {    
    .place__title {
        line-height: 35px;
        font-size: 32px;
        font-weight: 900;
    }
}

.place__title {
    color: white;
    margin: 0;
}