@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@media screen and (min-width: 1280px) {

    .header__lang-link {
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
    }

    .lead__title {
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
    }

    .lead__subtitle {
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
    }
    .intro__title {
        line-height: 58px;
        font-size: 54px;
        font-weight: 900;
    }
    
    .place__title {
        line-height: 76px;
        font-size: 72px;
        font-weight: 900;
        grid-row: 1;
        grid-column: 1/2;
    }

    .place__image {
        grid-row: 2/5;
        grid-column: 1/2;
    }

    .place__website {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .place__paragraph {
        line-height: 163%;
        font-size: 18px;
        font-weight: normal;
    }

    .cover__background {
        min-height: 740px;
    }

    .cover__title {
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        position: absolute;
        top: 245px;
    }

    .cover__subtitle {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        position: absolute;
        top: 429px;
    }

    .footer {
        display: flex;
        flex-direction: row;
    }

    .footer__link {
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
    }

    .footer__copyright {
        position: absolute;
        right: 3%;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {

    .header__lang-link {
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
    }
    
    .lead__title {
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        grid-row: 1;
        grid-column: 1/2;
    }

    .lead__subtitle {
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
    }
    .intro__title {
        line-height: 58px;
        font-size: 54px;
        font-weight: 900;
    }
    
    .place__title {
        line-height: 76px;
        font-size: 72px;
        font-weight: 900;
    }

    .place__image {
        grid-row: 2/5;
        grid-column: 1/2;
    }

    .place__website {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .place__paragraph {
        line-height: 163%;
        font-size: 18px;
        font-weight: normal;
    }
    
    .cover__background {
        min-height: 740px;
    }

    .cover__title {
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        position: absolute;
        top: 245px;
    }

    .cover__subtitle {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        position: absolute;
        top: 429px;
    }

    .footer {
        display: flex;
        flex-direction: row;
    }

    .footer__link {
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
    }

    .footer__copyright {
        position: absolute;
        right: 3%;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .header__lang-link {
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
    }
    
    .lead__title {
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        grid-row: 1;
        grid-column: 1/2;
    }

    .lead__subtitle {
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
    }
    .intro__title {
        line-height: 58px;
        font-size: 54px;
        font-weight: 900;
    }
    
    .place__title {
        line-height: 76px;
        font-size: 72px;
        font-weight: 900;
    }

    .place__image {
        grid-row: 2/5;
        grid-column: 1/2;
    }

    .place__website {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .place__paragraph {
        line-height: 163%;
        font-size: 18px;
        font-weight: normal;
    }

    .cover__background {
        min-height: 640px;
    }

    .cover__title {
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        position: absolute;
        top: 195px;
    }

    .cover__subtitle {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        position: absolute;
        top: 399px;
    }

    .footer {
        display: flex;
        flex-direction: row;
    }

    .footer__link {
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
    }

    .footer__copyright {
        position: absolute;
        right: 3%;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .header__lang-link {
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
    }
    
    .lead__title {
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        grid-row: 1;
        grid-column: 1/2;
    }
    
    .lead__subtitle {
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
    }

    .intro__title {
        line-height: 58px;
        font-size: 54px;
        font-weight: 900;
    }
    
    .place__title {
        line-height: 46px;
        font-size: 42px;
        font-weight: 900;
    }

    .place__image {
        grid-row: 2/5;
        grid-column: 1/2;
    }

    .place__website {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .place__paragraph {
        line-height: 163%;
        font-size: 16px;
        font-weight: normal;
    }

    .cover__background {
        min-height: 480px;
    }

    .cover__title {
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        position: absolute;
        top: 115px;
    }

    .cover__subtitle {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        position: absolute;
        top: 299px;
    }

    .footer {
        display: flex;
        flex-direction: row;
    }

    .footer__link {
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
    }

    .footer__copyright {
        position: absolute;
        right: 3%;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 425px) {
    .header__lang-link {
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
    }

    .lead__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
    }
    
    .lead__subtitle {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
    }

    .intro__title {
        line-height: 35px;
        font-size: 32px;
        font-weight: 900;
    }
    
    .place__title {
        line-height: 35px;
        font-size: 32px;
        font-weight: 900;
    }

    .place__image {
        margin-top: 32px;
    }

    .place__paragraph {
        line-height: 163%;
        font-size: 16px;
        font-weight: normal;
    }

    .cover__background {
        min-height: 200px;
    }

    .cover__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        position: absolute;
        top: 32px;
    }

    .cover__subtitle {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        position: absolute;
        top: 119px;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer__link {
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
    }

    .footer__copyright {
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
    }
}


.root {
    background-color: #2A2C2F;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, sans-serif;
    text-rendering: optimizeLegibility;
   }


/* блок header */

.header {
    margin: 0;
    display: flex;
    min-width: 320px;
    max-height: 52px;
    padding-top: 28px;
    position: relative;
    
}

.header__logo {
    min-width: 142px;
    min-height: 42px;
    max-width: 176px;
    max-height: 52px;
    margin-left: 5%;
}

.header__lang-link {
    color: white;
    position: absolute;
    right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 18px;
        
}



/* Блок lead */

.lead {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    max-width: 984px;
    height: auto;
    padding-top: 5%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.lead__title {
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0;
    color: white;
}

.lead__subtitle {
    color:white;
    min-width: 288px;
    max-width: 640px;
    text-align: center;
    margin: 0;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.lead__image {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 6%;
}

.lead__caption {
    display: flex;
    margin: 0;
    margin-top: 8px;
    color: white;
    line-height: 14px;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
}


/* Блок intro */

.intro {
    display: grid;
    grid-template-rows: repeat (3, 1fr);
    grid-template-columns: 1fr;
    max-width: 984px;
    justify-self: start;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    color: white
}

.intro__title {
    margin: 0;
    
    min-width: 288px;
    max-width: 720px;
   
}

.intro__text {
    max-width: 690px;
    margin: 0;
    margin-top: 40px;
    line-height: 163%;
    font-size: 16px;
    font-weight: normal;
    
}

.intro__list {
    max-width: 690px;
    list-style: none;
    margin: 0;
    margin-top: 33px;
    padding: 0;
    line-height: 18px;
    font-size: 12px;
    font-weight: bold;
   
}


/* блок photo-grid */

.photo-grid {
    margin: 0%;
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(213px, 264px));
    grid-template-rows: repeat(auto-fit, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    max-width: 1184px;
    height: auto;
}

.photo-grid__item {
    margin: 0;
    max-width: 100%;
    object-fit: cover;
}

/* блок places */

.places {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    max-width: 984px;
}

.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, min-content);
    grid-template-rows: repeat(2, min-content);
    column-gap: 3%;
    margin: 0;
    padding-top: 5%;
}

.place__title {
    color: white;
    margin: 0;
}

.place__website_url-heading {
    color: #AAAAAA;
    line-height: 170%;
    font-size: 12px;
    font-weight: normal;

}

.place__website_link {
    color: white;
    line-height: 22px;
    font-size: 18px;
    font-weight: normal;
    z-index: 1;
}

.place__website_link:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.place__image {
    width: 100%;
    height: auto;
}

.place__paragraph {
    color: grey;
}


/* блок cover */

.cover {
    margin-top: 5%;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.cover__title {
    margin: 0;
    margin: auto;
    left: 0; right: 0;
    color: white;
    text-decoration: none;
    max-width: 560px;
    max-height: 152px;
    text-align: center;
    z-index: 2;
}


.cover__subtitle {
    margin: 0;
    margin: auto;
    left: 0; right: 0;
    color: white;
    max-width: 360px;
    max-height: 66px;
    text-align: center;
    z-index: 2;
}

.cover__background {
    background-image: url(images/cover-trains.jpg);
    background-size: cover;
    width: 100%;   
}

.cover__background:hover {
    opacity: 0.8;
    transition: 0.5s;
}


/* Блок footer*/

.footer {
    margin: 0;
    
    margin-top: 5%;
    min-width: 320px;
    position: relative;

   
}

.footer__link {
    color: white;
    text-decoration: none;
    margin: 0;
    margin-left: 3%;
    
}

.footer__link:hover {
    opacity: 0.8;
    transition: 0.5s;
    
}

.footer__copyright {
    color: white;
}