@media screen and (min-width: 1280px) {    
    .place__image {
        grid-row: 2/5;
        grid-column: 1/2;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .place__image {
        grid-row: 2/5;
        grid-column: 1/2;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .place__image {
        grid-row: 2/5;
        grid-column: 1/2;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {    
    .place__image {
        grid-row: 2/5;
        grid-column: 1/2;
    }
}

@media screen and (max-width: 425px) {    
    .place__image {
        margin-top: 32px;
    }
}

.place__image {
    width: 100%;
    height: auto;
}