.cover__subtitle {
    margin: 0;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    max-width: 360px;
    height: 66px;
    justify-items: center;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
}

.cover__subtitle:hover {
    opacity: 0.8;
}

@media screen and (max-width: 425px) {    
    .cover__subtitle {
        max-width: 288px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}

