.place__paragraph {
    color: white;
    margin: 0;
    padding: 0;
    line-height: 163%;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 26px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 620px) and (max-width: 768px) {    
    .place__paragraph {
        line-height: 163%;
        font-size: 16px;
        font-weight: normal;
    }
}

@media screen and (max-width: 620px) {    
    .place__paragraph {
        max-width: 288px;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        line-height: 163%;
        font-size: 16px;
        font-weight: normal;
    }
}
