.footer__copyright {
    color: white;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (min-width: 1024px) {
    .footer__copyright {
        margin-left: 533px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer__copyright {
        margin-left: 277px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {    
    .footer__copyright {
        margin-left: 69px;
    }         
}

@media screen and (max-width: 425px) {    
    .footer__copyright {
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        margin-top: 48px;
    }
}