.place__website-link {
    color: white;
    line-height: 22px;
    font-size: 18px;
    font-weight: normal;
    z-index: 1;
    margin: 0;
    transition: 0.5s;
}

.place__website-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 620px) {
    .place__website-link {
        margin-left: 16px;
    }
}