.intro {
    display: grid;
    grid-template-rows: repeat (3, 1fr);
    grid-template-columns: 1fr;
    max-width: 984px;
    justify-self: start;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    color: white;
}