.footer {
    padding-top: 92px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 1185px) {
    .footer {
        max-width: 1184px;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) and (max-width: 1184px) {
    .footer {
        max-width: 928px;
        justify-content: space-between;
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (min-width: 700px) and (max-width: 768px) {    
    .footer {
        max-width: 720px;
        padding-top: 88px;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;
    }         
}

@media screen and (max-width: 700px) {
    .footer {
        max-width: 186px;
        margin: 0;
        padding-top: 64px;
        display: flex;
        flex-direction: column;
    }
}