.intro__title {
    margin: 0;
    max-width: 690px;
    line-height: 1.1;
    font-size: 3.25em;
    font-weight: 900;
}


@media screen and (min-width: 425px) and (min-width: 768px) {
    .intro__title {
        max-width: 720px;
        height: 72px;
    }
}

@media screen and (max-width: 425px) {
    .intro__title {
        line-height: 1.1;
        font-size: 2em;
        font-weight: 900;
        max-width: 288px;
    }
}

